{% extends 'base.html.twig' %}

{% block title %}About us | {{ parent() }}{% endblock %}

{% block main %}
    <h1>About us!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur error, facere, fugit incidunt ipsum necessitatibus nihil numquam optio, quae quaerat quam quia quis quo reprehenderit tempore temporibus ullam voluptates!</p>
{% endblock %}

