{# les commentaires Twig #}
{# templates/default/home.html.twig #}
{% extends 'base.html.twig' %}

{% block main %}

    {% for movie in movies %}
        <article>
            <a href="{{ path('movie_detail', {'id': movie.id}) }}" title="{{ movie.title }}">
                <img src="{{ asset('img/posters/' ~ movie.image) }}" alt="{{ movie.title }}">
            </a>
        </article>
    {% endfor %}

{% endblock %}

{% block title %}Movies!{% endblock %}